.design-title {
	text-transform: uppercase;
	font-size: 1.5rem;
	color: rgba(0,0,0,.6);
	text-align: center;
}

.design-title.little {
	font-size: 1.45rem;
}

.line {
	height: 2px;
	width: 70%;
	margin: 0 auto;
	background-color: #fd7e14;
}